node_modules
package-lock.json
package.json
.prettierrc
.vscode

.env
__pycache__
templates/cache_directory/45/cd/4fa734b5dfb20ea4b8db86ee74e2.val
templates/cache_directory/cache.db
templates/cache_directory/cache.db-shm
templates/cache_directory/cache.db-wal
# __pycache__/main.cpython-313.pyc
__pycache__/main.cpython-312.pyc
/static/wl
cache_directory/94/83/3ad76fafb5c80b423791269ce65e.val
cache_directory/cache.db
cache_directory/cache.db-shm
cache_directory/cache.db-wal
/static/github_cache
/cache_directory/8b
/cache_directory/d7
__pycache__/main.cpython-313.pyc
cache_directory/74/43/6a4297da73ef9dbdb4553b4f1484.val
cache_directory/fd/ba/c84674ff735e50bba03defd0b067.val
/cache_directory/83
/cache_directory/95
/cache_directory/95
