html,
body,
main {
  width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  margin: 0;
}

.museomoderno {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ————————————————————————————————————————— */

.page-section {
  width: 100dvw;
  height: 100dvh;
  border-bottom: 1px solid black;
  background-image: url(./sonic.jpg);
}

#hero {
  height: 120vh;
}

/* ————————————————————————————————————————— */

/* ————————————————————————————————————————— */

.desktop-nav-links {
  display: none;
}

@media screen and (width >= 1000px) {
  .desktop-nav-links {
    display: initial;
  }
  .mobile-nav-links {
    display: none;
  }
}
