:root {
  /* waves_a */
  --text: #edeaea;
  --background: #1e36aa;
  --primary: #5d96cd;
  --secondary: #8fc4f6;
  --accent: #e5b88b;

  /* waves_b */
  /* --text: #eeedf2;
  --primary: #572fe9;
  --background: #090935;
  --secondary: #569ded;
  --accent: #eae2a6; */

  /* funfish */
  /* --text: #161616;
  --background: #52a3a0;
  --primary: #cd845d;
  --secondary: #e8e8e8;
  --accent: #1f5252; */

  --text-shadow: 0.15em 0.15em 0.15em oklch(from black l c h / 25%);
}

html {
  min-height: 100dvh;
  width: 100dvw;
  color: var(--text);
  background-color: var(--backgroud);

  scrollbar-color: currentColor transparent;

  *:focus-visible {
    outline: 4px solid;
    outline-color: hsl(from var(--accent) h s calc(l + 1));
    outline-offset: 4px;
    /* outline already follows border-radius in modern browsers */
  }
}

body,
main {
  width: 100%;
  min-height: fit-content;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.museomoderno {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--secondary);
  &.min {
    text-decoration: none;
  }
}

p {
  letter-spacing: 0.1em;
}

/* * —— UNIVERSAL CLASSES ———————— */

.glass,
wa-drawer.glass::part(dialog) /* web-awesome specifity overwriting */ {
  --intensity: 0.1;
  background-color: oklch(from var(--secondary) l c h / var(--intensity));
  box-shadow: 8px 8px 4px oklch(from black l c h / calc(var(--intensity) / 2));
  border: 1px solid oklch(from white l c h / 35%);

  border-radius: 1.5rem;
  padding: 1rem 2rem;
  backdrop-filter: blur(8px);
  text-shadow: var(--text-shadow);
}
.glass.tinted,
wa-drawer.glass.tinted::part(dialog) /* web-awesome specifity overwriting */ {
  --intensity: 0.25;
  backdrop-filter: blur(12px);
  border: 1px solid oklch(from white l c h / 50%);
}

.glass.image-wrapper img {
  -webkit-mask-image:
    linear-gradient(
      to right,
      transparent 3%,
      black 10%,
      black 90%,
      transparent 97%
    ),
    linear-gradient(
      to bottom,
      transparent 2.5%,
      black 12.5%,
      black 87.5%,
      transparent 97.5%
    );
  -webkit-mask-composite: destination-in;

  mask-image:
    linear-gradient(
      to right,
      transparent 3%,
      black 10%,
      black 90%,
      transparent 97%
    ),
    linear-gradient(
      to bottom,
      transparent 2.5%,
      black 12.5%,
      black 87.5%,
      transparent 97.5%
    );
  mask-composite: intersect;
}

@keyframes bounce {
  0%,
  100% {
    translate: 0 0.2rem;
  }
  50% {
    translate: 0 -0.25rem;
  }
}

.logo {
  .stroke {
    stroke: oklch(from white l c h / 33%);
    stroke-width: 2;
  }
  .greyscale {
    filter: grayscale();
  }
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 1000px;

  --state-bg-color: none;
  --base-opacity: 0;
  --bg-color-opacity: var(--base-opacity);

  background-color: hsl(
    from var(--state-bg-color, inherit) h s calc(l + var(--lightness, 0)) /
      calc(var(--bg-color-opacity) / 100)
  );

  &:hover {
    --bg-color-opacity: calc(var(--base-opacity) + 25);
  }
  &:active {
    --bg-color-opacity: calc(var(--base-opacity) + 45);
    --lightness: 6;
  }

  &.pressable {
    transition: /* likely be overwritten — include these in new instance */
      background-color 150ms ease-in-out,
      scale 150ms ease-in;
    &:hover {
      scale: 1.05;
    }
    &:active {
      scale: 0.95;
    }
  }
}

/* * —— FOOTER ———————————— */

#footer {
  height: fit-content;
  width: 90dvw;
  margin: 4rem 0 5dvw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

#contactLinks {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h1 {
    font-size: 1em;
    margin-bottom: 0.25rem;
  }
  a {
    font-size: 0.75em;
  }
}

#serverStatsModalButton {
}

/* * —— MEDIA ———————————— */

@media screen and (width >= 650px) {
  #footer {
    flex-direction: row;
  }
}

@media screen and (width >= 1000px) {
  :root {
    font-size: 16px;
  }
}

:root {
  /* mobile */
  font-size: 12px;

  /* vertical tablet */
  @media screen and (width >= 768px) {
    font-size: 14px;
  }
  /* small desktop / laptop */
  @media screen and (width >= 1060px) {
    font-size: 16px;
  }
  /* large desktop */
  @media screen and (width >= 1700px) {
    font-size: 18px;
  }
}
