html {
  min-height: 100dvh;
  width: 100dvw;
  color: var(--text);

  scrollbar-width: thin;
  scrollbar-color: currentColor transparent;
}

body,
main {
  width: 100%;
  min-height: fit-content;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

:root {
  font-size: 14px;

  --text: #eeedf2;
  --primary: #572fe9;
  --backgroud: #090935;
  --secondary: #569ded;
  --accent: #eae2a6;
}

.museomoderno {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--secondary);
  &.min {
    text-decoration: none;
  }
  &:visited {
    color: oklch(from currentColor calc(l - 5) c h);
  }
}

.glass {
  --intensity: 0.1;
  background-color: oklch(from white l c h / var(--intensity));
  box-shadow: 8px 8px 4px oklch(from black l c h / calc(var(--intensity) / 2));
  border: 1px solid oklch(from white l c h / calc(var(--intensity) * 3));

  border-radius: 20px;
  padding: 1rem 2rem;
  backdrop-filter: blur(4px);
}
.glass.tinted {
  --intensity: 0.25;
  backdrop-filter: blur(8px);
}

@keyframes bounce {
  0%,
  100% {
    translate: 0 0.2rem;
  }
  50% {
    translate: 0 -0.25rem;
  }
}

@media screen and (width >= 1000px) {
  :root {
    font-size: 16px;
  }
}
