.page-section {
  width: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#hero {
  height: 120dvh;
}

.bg-video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 120dvh;

  object-fit: cover; /* makes it behave like a background image */
}

.home-sect-wrapper {
  width: 90%;
  height: 80%;
  margin: 4rem 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  text-shadow: 4px 4px 8px oklch(from black l c h / 25%);

  .glass {
    padding: 1rem;
  }
}

.home-sect-header {
  text-align: center;
  font-size: 1.5rem;
  grid-area: title;
  height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: self-start;
  margin: 0;
  letter-spacing: 0.25em;
  max-height: 4em;
}

.image-wrapper:has(.home-sect-image) {
  padding: 0.5rem;
  grid-area: image;
  align-self: self-start;
}

.home-sect-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.home-sect-text {
  line-height: 1.25;
  grid-area: text;
  align-self: self-start;
  margin: 0;
}

.home-sect-cta {
  grid-area: cta;
  align-self: self-end;
  min-height: 4rem;
  background-color: oklch(from var(--accent) l c h / 50%);
  text-align: center;
  color: inherit;
  letter-spacing: 0.5em;

  transition: transform 150ms ease-in-out;

  &:hover {
    transform: scale(105%);
  }
  &:active {
    transform: scale(95%);
  }
}

@media screen and (width >= 1000px) {
  /* change to grid style */
  .home-sect-wrapper {
    display: grid;
    grid-template-areas: "title image" "text image" "text image" "text cta";
    grid-template-columns: repeat(2, 1fr);

    > * {
      height: 100%;
      box-sizing: border-box;
    }
  }
}
@media screen and (width >= 1200px) {
  .home-sect-text {
    align-self: center;
    justify-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-sect-wrapper {
    gap: 2rem;
  }
}
