#hero {
  height: 120dvh;
  margin: 4rem 0;
}

.bg-video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 120dvh;

  object-fit: cover; /* makes it behave like a background image */
}

.home-sect-wrapper {
  width: 90%;
  height: 80%;
  margin: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-shadow: var(--text-shadow);

  > */* :not(.image-wrapper) */ {
    width: 100%;
    box-sizing: border-box;
  }
}

.home-sect-header {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: 0.25em;
  max-height: 4em;
  height: 5em;
  /* width: fit-content; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  grid-area: title;
}

.image-wrapper:has(.home-sect-image) {
  padding: 1.5rem 2rem;
  grid-area: image;
}

.home-sect-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.home-sect-text {
  line-height: 1.25;
  grid-area: text;
  margin: 0;
  scrollbar-width: thin;
  font-size: 1rem;
}

.home-sect-cta {
  /* sets bg color & opacity for .button —> can be modified consistently across site */
  --state-bg-color: var(--accent);
  --base-opacity: 50;

  grid-area: cta;
  justify-self: center;

  text-align: center;
  color: inherit;
  letter-spacing: 0.25em;
  display: flex;
  align-items: center;
  font-size: 1.25rem;

  width: 99%;
  padding: 0.75em 1.25em;
}

@media screen and (width >= 768px) {
  .home-sect-wrapper {
    display: grid;
    grid-template-areas: "title image" "text image" "text image" "text cta";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr auto;

    /* height: fit-content;
    max-height: 60dvh; */

    .home-sect-header,
    .home-sect-text {
      align-self: self-start;
    }

    .image-wrapper:has(.home-sect-image) {
      align-self: stretch;
      height: auto;
    }

    .home-sect-image {
      min-height: 0;
    }

    .image-wrapper:has(.home-sect-image) {
      position: relative;
      border-radius: 1000px;
    }

    .image-wrapper:has(.home-sect-image),
    .home-sect-text {
      min-height: 35dvh;
      max-height: 60dvh;
    }

    .home-sect-image {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1000px;
    }

    .home-sect-text {
      padding: 2em 3em;
      overflow-y: auto;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .home-sect-cta {
      align-self: self-end;
    }
  }
}
@media screen and (width >= 1525px) {
  .home-sect-wrapper {
    gap: 2rem;
  }
}
