/* * ———— MAIN CARD AND SPLIT NAVBAR ——————————————————————————————————————————— */

#heroCard,
.nav-items,
#nameCard {
  will-change: transform;
}

#heroCard {
  height: 60dvh;
  width: 70%;
  min-height: fit-content;
  min-width: fit-content;
  max-width: 95dvw;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;

  font-size: 1.25rem;
  text-shadow: var(--text-shadow);
  z-index: 9001;

  transition:
    height 0.1s ease-out,
    width 0.15s ease-out,
    gap 0.1s ease-out,
    transform 0.1s ease-out,
    background-color 0.3s ease-out,
    backdrop-filter 0.1s ease-in-out;

  &.reset,
  &.reset #nameCard,
  &.reset .nav-items {
    transition: none !important;
  }

  &.split {
    flex-direction: row;
    justify-content: space-between;
    width: 91% !important;
    gap: 1rem !important;

    #nameCard {
      flex-direction: row;
      font-size: 2rem;

      &::after {
        content: "Peter C";
        font-size: 2rem;
        white-space: preserve nowrap;
        text-overflow: clip;
        letter-spacing: 0px;
      }
      > svg {
        height: 2em;
      }
    }
  }

  &:not(.split) {
    @media screen and (width < 1060px) /* isMobile */ {
      padding: 2rem 1rem;
    }
  }
}

.split {
  #nameCard,
  .nav-items {
    height: 70%;
  }
}

#nameCard {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: var(--text);
  transition: font-size 0.1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-wrap: nowrap;
  gap: 1rem;

  &::after {
    content: "Peter Cakebread";
    line-height: 90%;
    letter-spacing: -0.05em;
  }

  &:is(.split *) {
    flex-wrap: nowrap;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  width: max-content;
}

.nav-items.mobile {
  transition: padding 150ms ease-in-out;

  /* i.e. will be hamburger icon */
  &:is(.split > .nav-items.mobile) {
    padding: 1rem;
    aspect-ratio: 1 / 1;
  }
}

.nav-link {
  --state-bg-color: none;

  padding: 0.25em 1em;
  border-radius: 100px;
  color: var(--text);
  font-weight: 500;
  box-sizing: border-box;

  transition: background-color 300ms ease-in-out;

  &.current {
    color: var(--accent);
    text-decoration: underline;
    text-underline-offset: 0.33em;
    padding-bottom: 0.5em;
    animation: bounce 2s ease-in-out infinite;
  }

  &:hover {
    background-color: oklch(from currentColor l c h / 25%);
  }
  &:active {
    background-color: oklch(from currentColor l c h / 35%);
  }
}

.nav-mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25em;
}

.nav-mobile-menu {
  /* Variable lets the .pressable class alter the colour in different states (i.e. hover, active) */
  --state-bg-color: oklch(
    from white l c h / var(--intensity /* always defined */)
  );
}

#nameCard .logo {
  width: auto;
  height: 3em;
}

#fastContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &.hide {
    display: none;
  }
}
.github-icon-svg,
.linkedin-icon-svg {
  height: 1.75em;
  width: auto;

  .github-icon {
    fill: var(--text);
  }

  .linkedin-icon {
    stroke: var(--text);
  }
}

/* * ———— SIDEBAR MENU ————————————————————————————————————————————————————————— */

wa-drawer {
  &:not([open]) {
    display: none;
  }

  &::part(dialog) {
    height: 95dvh;
    width: 90dvw;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &::part(body) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    max-height: 100%;
  }
}

.nav-menu-title {
  text-align: center;

  margin: 40% 0 0;
}

.nav-menu-divider {
  width: 100%;
  --color: oklch(from var(--text) l c h / 75%);
  --spacing: 2rem;
  --width: 2px;
}

.nav-menu-list {
  width: 90%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;

  margin-bottom: 3rem;

  .nav-link {
    text-align: center;
    width: 100%;
    border: 2px solid oklch(from currentColor l c h / 75%);

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    --state-bg-color: currentColor;
  }
  .nav-link.current {
    padding-bottom: 0.6rem;
  }
}

.nav-menu-button {
  width: 100%;
  padding: 0 1em;
  border-radius: 1000px;

  color: var(--text);
  transition: background-color 300ms ease-in-out;

  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.nav-menu-git {
  fill: currentColor;
}
.nav-menu-lin {
  stroke: currentColor;
}

.button.close {
  width: 100%;

  border: none;
  text-align: center;
  padding: 0.1em 0;

  color: var(--text);
  --state-bg-color: currentColor;
}

/* * ———— MEDIA ——————————————————————————————————————————————————————————————— */

.nav-items.desktop {
  display: none;
}

/* Mobile && heroCard ? show list */
.nav-items.mobile .nav-mobile-menu {
  display: none;
}
.nav-items.mobile .nav-mobile-list {
  display: flex;
}
/* : show menu */
.split .nav-items.mobile .nav-mobile-menu {
  display: flex;
}
.split .nav-items.mobile .nav-mobile-list {
  display: none;
}

@media screen and (width >= 768px) {
  wa-drawer::part(dialog) {
    top: 2.5dvh;
    left: auto;
    right: 0;
    transform: translateX(-2.5dvh);
    width: auto;

    aspect-ratio: 2 / 5;
  }

  #heroCard {
    width: 60%;
  }
}

@media screen and (width >= 1060px) {
  .nav-items {
    &.desktop {
      display: flex;
    }
    &.mobile {
      display: none;
    }
  }

  #nameCard {
    flex-direction: row;
    font-size: 3rem;

    .logo {
      height: 2em;
    }

    &:is(.split #nameCard)::after {
      content: "Peter Cakebread";
      white-space: nowrap;
    }
  }
}
