/* * ———— MAIN CARD AND SPLIT NAVBAR ——————————————————————————————————————————— */

#heroCard,
.nav-items,
#nameCard {
  will-change: transform;
}

#heroCard {
  height: 60dvh;
  width: 60%;
  min-height: fit-content;
  min-width: fit-content;
  max-width: 95dvw;
  font-size: 1.25rem;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  text-shadow: var(--text-shadow);
  z-index: 9001;

  transition:
    height 0.1s ease-out,
    width 0.15s ease-out,
    gap 0.1s ease-out,
    transform 0.1s ease-out,
    background-color 0.3s ease-out,
    backdrop-filter 0.1s ease-in-out;

  &.reset,
  &.reset #nameCard,
  &.reset .nav-items {
    transition: none !important;
  }

  &.split {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    #nameCard {
      flex-direction: row;
      font-size: 2rem;

      &::after {
        content: "Peter C";
        font-size: 2rem;
        white-space: preserve nowrap;
        text-overflow: clip;
      }
      > svg {
        height: 2em;
      }
    }
  }
}

.split {
  #nameCard,
  .nav-items {
    height: 70%;
  }
}

#nameCard {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: var(--text);
  transition: font-size 0.1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  gap: 1rem;

  &::after {
    content: "Peter Cakebread";
    line-height: 90%;
    letter-spacing: -0.05em;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: max-content;
}

.nav-link {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: oklch(from white l c h / 0);
  color: var(--text);
  font-weight: 400;

  transition: background-color 300ms ease-in-out;

  &.current {
    color: var(--accent);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    padding: 0.5rem 1.5rem 1rem;
    animation: bounce 2s ease-in-out infinite;
  }

  &:hover {
    background-color: oklch(from currentColor l c h / 25%);
  }
}

.nav-mobile-list {
  display: flex;

  /* * will likely overlap as height shrinks */
  /* ? maybe swap earlier TEST FIRST */
  flex-direction: column;
  align-items: center;
}

#nameCard .logo {
  width: auto;
  height: 3em;
}

@keyframes heroCardBounce {
  0%,
  100% {
    top: 48%;
  }
  50% {
    top: 52%;
  }
}

#fastContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &.hide {
    display: none;
  }
}

/* * Mobile First */
/* mobile screen, hero section —> show list */
.nav-items.mobile .nav-mobile-menu {
  display: none;
}
.nav-items.mobile .nav-mobile-list {
  display: flex;
}

/* mobile screen, NOT hero section —> show menu */
.split .nav-items.mobile .nav-mobile-menu {
  display: flex;
}
.split .nav-items.mobile .nav-mobile-list {
  display: none;
}

.nav-items.desktop {
  display: none;
}

/* * ———— SIDEBAR MENU ————————————————————————————————————————————————————————— */

wa-drawer {
  &::part(dialog) {
    margin-right: 2rem;
    height: 95dvh;
    top: 2.5dvh;
    max-width: 90dvw;
  }
  &::part(body) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.nav-menu-title {
  text-align: center;
}

.nave-menu-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
}

wa-button.close {
  width: 100%;
}
wa-button.close::part(base) {
  color: var(--text);
  width: 100%;
  border: 1.5px solid var(--text);
}
wa-button.close::part(base):hover {
  color: black;
  background-color: oklch(from var(--text) l c h / 50%);
}

/* * ———— MEDIA (DESKTOP +) ———————————————————————————————————————————————————— */

@media screen and (width >= 1060px) {
  .nav-items {
    &.desktop {
      display: flex;
    }
    &.mobile {
      display: none;
    }
  }

  #nameCard {
    flex-direction: row;
    font-size: 3rem;

    .logo {
      height: 2em;
    }

    &:is(.split #nameCard)::after {
      content: "Peter Cakebread";
      white-space: nowrap;
    }
  }
}
