<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# add opengraph #}

    {# Fonts — MuseoModerno & Montserrat #}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{url_for('static', filename='default.js')}}"></script>
    <script defer src="{{url_for('static', filename='script.js')}}"></script>

    {% block title %}
      <title>Landing | Peter Cakebread</title>
    {% endblock %}
  </head>
  <body>
    {% macro navbar(links) %}
      <nav id="heroCard">
        <a href="{{ url_for('landing') }}" id="nameCard">
          <img src="/static/logo.svg" />
          <span>Peter C</span>
        </a>

        <div id="mobileNavItems">hamburger</div>

        <div id="desktopNavItems">
          {% for link in links %}
            {% set this = links[link] %}
            <a
              href="{{ url_for(this['name']) }}"
              class="nav-link {{ 'current' if this['active'] }}"
              >{{ this['name'] }}</a
            >
          {% endfor %}
        </div>
      </nav>
    {% endmacro %}

    {% block content %}
      {# ——— MAIN PAGE ——— #}
    {% endblock %}

    {# footer #}
    {% include 'footer.html' %}
  </body>
</html>
