<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# add opengraph #}

    {# Fonts — MuseoModerno & Montserrat #}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='/images/logo.svg') }}"
      type="image/x-icon"
    />

    <!-- <script src="{{url_for('static', filename='default.js')}}"></script>
    <script defer src="{{url_for('static', filename='script.js')}}"></script> -->
    <script defer src="{{url_for('static', filename='navMorph.js')}}"></script>

    <title>{% block title %}Landing{% endblock %} | Peter Cakebread</title>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    {# Keeps pre-rendered code, but allows u to determine its location #}

    {% macro navbar(links, isHero=False) %}
      {# —————————————————————————————————————— #}
      <nav id="heroCard" class="museomoderno tinted {{ 'glass' if isHero }}">
        <section
          id="nameCard"
          class="min tinted {{ 'glass' if not isHero }}"
        ></section>

        <div
          class="nav-items mobile museomoderno tinted {{ 'glass' if not isHero }}"
        >
          hamburger
        </div>

        <div
          class="nav-items desktop museomoderno tinted {{ 'glass' if not isHero }}"
        >
          {% for link in links %}
            {% set this = links[link] %}
            <a
              href="{{ url_for(link) }}"
              class="nav-link min {{ 'current' if this['active'] }} "
              >{{ this['name'] }}</a
            >
          {% endfor %}
        </div>
      </nav>
    {% endmacro %}
    {# ——————————————————————————————————————————————————————————————— #}

    {% block content %}
      {# ——— MAIN PAGE ——— #}
    {% endblock %}

    {# Footer #}
    {% include 'footer.html' %}
  </body>
</html>
