<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='media/icon.png')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
       </script>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block page_name %}{% endblock %} - Peter Cakebread</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="banner">
        <div class="banner-text">
            <div class="logo">
                <a href="/"><p class="logo">Peter Cakebread</p></a>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="ui menu custom-menu">

        <a href="/" class="item">
            <div class="ui primary button">Home</div>

        </a>

            <a href="/projects" class="item">
            <div class="ui button">Projects</div>
        </a>

            <a href="/webhosting" class="item">
            <div class="ui button">Web Hosting</div>
        </a>

        <a href="/about" class="item">
            <div class="ui button">About</div>
        </a>

        <a href="/contact" class="item">
            <div class="ui button">Contact</div>
        </a>



        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <p>Git Hub <a href= "https://github.com/Mos6502DIP">Peter Cakebread</a><p>
        <h3>Contact</h3>
        <p>
            <a href= "mailto:peterjcakebread@gmail.com">peterjcakebread@gmail.com</a> (For all other inquires) <br>
        </p>
    </div>

</body>
</html>
