{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block head %}
  <meta property="og:title" content="Peter Cakebread - Contact" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://fractaldev.co/contact" />
  <meta
    property="og:image"
    content="https://fractaldev.co/static/media/MetaBanner.jpg"
  />
  <meta property="og:description" content="Get in touch here." />
  <meta name="theme-color" content="#FF0000" />
  <!-- Include this to make the og:image larger -->
  <meta name="twitter:card" content="summary_large_image" />

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/style/contact.css') }}"
  />
{% endblock %}

{% block content %}
  <main>
    <section class="sect-wrapper montserrat">
      <div class="text-content">
        <h1 class="glass museomoderno">Contact</h1>
        <p class="glass">
          If you would like to get in touch for any reason email me at
          <a href="mailto:peterjcakebread@gmail.com">
            peterjcakebread@gmail.com</a
          >
          <br />If you would like my cv email me at the appropriate email
          address.
          <br />
          (I should respond within a day. If I don't I apologise in advance and
          try sending another)
        </p>
      </div>
      <div class="glass image-wrapper">
        <img src="{# insert relevant image #}" alt="" />
      </div>
    </section>

    <section class="sect-wrapper montserrat" id="contacts">
      <div class="contact"><img src="" alt="Email Icon" />Email</div>
      <div class="contact">
        <div
          class="github-card"
          data-github="Mos6502DIP"
          data-width=""
          data-height="200"
          data-theme="default"
        ></div>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1c081f5e-e20e-4c24-8cfc-3cda50ce5eae" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
      </div>
    </section>
  </main>
{% endblock %}
