<footer id="footer" class="glass baloo-da-2">
  <img
    class="logo"
    src="{{ url_for('static', filename='/images/subtract.png') }}"
    alt="FractalDev logo"
  />

  <section id="contactLinks">
    {# maybe make an email form #}
    <h3>Contact</h3>
    <a href="" class="footer-contact">Email Me!</a>
    <a href="" class="footer-contact">GitHub</a>
    <a href="" class="footer-contact">LinkedIn</a>
    <a href="https://www.credly.com/users/petercakebread" class="footer-contact"
      >Credly</a
    >
  </section>

  <section id="services"></section>

  <button
    type="button"
    id="serverStatsModalButton"
    class="glass baloo-da-2 button"
  >
    See Server Stats
  </button>
</footer>
