<footer id="footer" class="glass montserrat">
  {{ logo(class='stroke greyscale') }}

  <section id="contactLinks">
    {# maybe make an email form #}
    <h3>Contact</h3>
    <a href="" class="footer-contact">GitHub</a>
    <a href="" class="footer-contact">LinkedIn</a>
    <a href="" class="footer-contact">Email Me!</a>
  </section>

  <section id="services">
    <a href="https://www.vecteezy.com/free-videos/bubbles"
      >Bubbles Stock Videos by Vecteezy</a
    >
  </section>

  <button
    type="button"
    id="serverStatsModalButton"
    class="glass montserrat button"
  >
    See Server Stats
  </button>
</footer>
