{% extends "base.html" %}

{% block head %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/style/home.css') }}"
  />
{% endblock %}

{% block content %}
  {{ navbar(links, True) }}

  <main>
    {# insert bg video/gif #}

    <video
      class="bg-video"
      autoplay
      muted
      loop
      playsinline
    >
      <source src="{{ url_for('static', filename='videos/waves_b.mp4') }}" type="video/mp4">
    </video>
    <!-- <img
      class="bg-image"
      src="{{ url_for('static', filename='/images/bg.png') }}"
      alt="XMB blue-waves background"
    /> -->
    <section id="hero" class="page-section"></section>
    <section id="whoAmI" class="page-section"></section>
    <section id="projects" class="page-section"></section>
  </main>
{% endblock %}
