{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/style/home.css') }}"
  />
{% endblock %}

{% block content %}
  <main>
    <video
      class="bg-video"
      autoplay
      muted
      loop
      playsinline
      id="backgroundVideo"
    >
      <source
        src="{{ url_for('static', filename='videos/bubbles.mp4') }}"
        type="video/mp4"
      />
    </video>

    <section id="hero">{{ navbar(links, True) }}</section>

    <section id="whoAmI" class="home-sect-wrapper">
      {# Mobile —> flex; Desktop —> 4x4 grid #}
      <h2 class="home-sect-header glass museomoderno">Who Am I?</h2>
      <div class="image-wrapper glass">
        <img
          src="{{ url_for('static', filename='media/server.webp') }}"
          alt="Placeholder image of server"
          class="home-sect-image montserrat"
        />
      </div>
      <p class="home-sect-text glass montserrat">
        Hi I am a software developer, server hosting and repair technician. I
        enjoy manging hardware for hosting eg the server running this website,
        hopefully. I love repairing games consoles and Ipods and restoring to
        their original condition but some also adding mods like mod chips,
        custom lights and ssds even to ipods.
      </p>
      <a
        class="home-sect-cta glass museomoderno min pressable button"
        href="{{ url_for('about') }}"
        >Read More About Me</a
      >
    </section>

    <section id="projects" class="home-sect-wrapper">
      <h2 class="home-sect-header glass museomoderno">My Projects</h2>
      <div class="image-wrapper glass">
        <img
          src="{{ url_for('static', filename='media/luca.png') }}"
          alt="Placeholder image of example project"
          class="home-sect-image montserrat"
        />
      </div>
      <p class="home-sect-text glass montserrat">
        I work on serval projects these consist of Lucaplex, Ocean Zone (video
        hosting project), and Telepy. Lucaplex while currently not on Github is
        a software I made which organises all my movies. Ocean Zone will be a
        YouTube clone and still is currently in development due to issues with
        my isp causing delays. While Telepy is a project that I have worked on
        for the last 3 years and is evolving every time i look at it currently I
        am planning to work on a web client which will be hosted on this site.
      </p>
      <a
        class="home-sect-cta glass museomoderno min pressable button"
        href="{{ url_for('projects') }}"
        >See My Projects</a
      >
    </section>
  </main>
{% endblock %}
