{% extends "base.html" %}

{% block page_name %}Landing{% endblock %}

{% block head %}
    <meta property="og:title" content="Peter Cakebread - About" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fractaldev.co/about" />
    <meta property="og:image" content="https://fractaldev.co/static/media/cool.jpg" />
    <meta property="og:description" content="Hi I am a software developer, server hosting and repair technician. I enjoy manging hardware for hosting
            eg the server running this website, hopefully. I love repairing games consoles and Ipods and restoring to their
                original condition but some also adding mods like mod chips, custom lights and ssds even to ipods." />
    <meta name="theme-color" content="#FF0000">
    <!-- Include this to make the og:image larger -->
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}


    <div class="container-intro">
        <div class="text">
            <h1>Who am I?</h1>
            <p>
                Hi I am a software developer, server hosting and repair technician. I enjoy manging hardware for hosting
            eg the server running this website, hopefully. I love repairing games consoles and Ipods and restoring to their
                original condition but some also adding mods like mod chips, custom lights and ssds even to ipods.            </p>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='media/server.webp') }}" alt="Placeholder Image">
        </div>
    </div>

    <div class="container-intro">
        <div class="image">
            <img src="{{ url_for('static', filename='media/luca.png') }}" alt="Placeholder Image">
        </div>

        <div class="text" style="padding: 20px">
            <h1>Projects.</h1>
            <p >
                I work on serval projects these consist of Lucaplex, Ocean Zone (video hosting project), and Telepy.
                Lucaplex while currently not on Github is a software I made which organises all my movies. Ocean Zone
                will be a YouTube clone and still is currently in development due to issues with my isp causing delays.
                While Telepy is a project that I have worked on for the last 3 years and is evolving every time i look
                at it currently I am planning to work on a web client which will be hosted on this site.
            </p>
        </div>

    </div>
{% endblock %}